<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-narrow">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">Orders List</p>
          </div>
          <div class="card-content">
            <table class="table is-bordered is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Order</th>
                  <th>CreatedAt</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <% orders.each do |order| %>
                <tr>
                  <td><%= order.user.name %></td>
                  <td><%= order.id %></td>
                  <td><%= order.created_at %></td>
                  <td><%= link_to "Detail", order_path(order) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
